# SPDX-FileCopyrightText: 2023 Gordon T. Luu <gtluu912@gmail.com>
# SPDX-License-Identifier: Apache-2.0

/venv
/.idea
/__pychache__/*
__pychache__/*
*.pyc
/prototype
/data
/build/*
build/*
/pyTDFSDK.egg-info
